<div class="row-fluid">
  <div class="span2 main-left-col" id="lists-panel">
    <h1>bTask</h1>
    <div class="left-nav"></div>
  </div>
  <div class="main-right-col">
    <small class="pull-right" id="profile-container"></small>
    <div>
      <div id="sign-in-container"></div>
      <div id="signed-in-container">
        <ul class="nav nav-tabs" id="top-nav">
          <li class="buttons">
            <div class="btn-group">
              <a href="#" class="btn" id="add-list-button"><i class="icon-plus">Add List</i></a>
              <a href="#" class="btn" id="edit-list-button"><i class="icon-cog">Edit List</i></a>
              <a href="#" class="btn delete-list" id="delete-list-button"><i class="icon-trash">Delete List</i></a>
            </div>
          </li>
        </ul>
        <div id="content-container">
          <div id="list-editor"></div>
          <div id="tasks-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
