<fieldset>
  <legend>
    Task Properties
    <a href="#" data-task-id="{{id}}" class="pull-right delete-task btn"><i class="icon-trash"></i></a>
  </legend>
  <div class="control-group">
    <label for="task_title">Title</label>
    <input type="text" class="input-block-level" name="title" id="task_title" value="{{title}}" placeholder="The task's title">
  </div>
  <div class="control-group">
    <label class="radio"><input type="radio" name="status" value="needsAction" {{status === 'needsAction' ? 'checked' : '' }}> Needs action</label>
    <label class="radio"><input type="radio" name="status" value="completed" {{status === 'completed' ? 'checked' : '' }}> Complete</label>
  </div>
  </div>
  <div class="control-group">
    <label for="task_notes">Notes</label>
    <textarea class="input-block-level" name="notes" id="task_notes" placeholder="Notes about this task">{{notes}}</textarea>
  </div>
</fieldset>
<div class="form-actions">
  <button type="submit" class="btn btn-primary">Save Changes</button>
  <button class="cancel btn">Close</button>
</div>
